.pie-chart-card {
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart-info-container {
  margin-bottom: 40px;
}

.chart-total {
  font-size: 36px;
  color: var(--dark-blue);
}

.chart-description {
  font-size: 18px;
  color: var(--light-grey);
}

.apexcharts-legend.apexcharts-align-center {
  flex-direction: column;
  align-items: center;
}
