.pie-chart-card {
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-info-container {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chart-total {
  font-size: 36px;
  color: var(--dark-blue);
}

.chart-description {
  font-size: 18px;
  color: var(--light-grey);
}

.apexcharts-legend.apexcharts-align-center {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .pie-chart-card {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .pie-chart-card {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .chart-info-container {
    width: 500px;
  }
}
